.mainbody{
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
  background: whitesmoke;

}

.mainbody::-webkit-scrollbar{
    display: none;
}