.navbar{
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    z-index: 5;
}

.left{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding-left: 20px;
}

.left > h1{
    font-family: 'Cormorant Sc', poppins, serif;
    /* border: 1px solid white; */
    width: 110px;
    font-size: 40px;
    text-align: center;
}

.right{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-family: 'Cormorant Sc', poppins, serif;
    /* padding-right: 20px; */
}



.right > p{
    font-family: 'Cormorant Sc', poppins, serif;
    /* border: 1px solid white; */
    width: 100px;
    font-size: 16px;
    text-align: center;
    transition: all ease 200ms;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right > p:hover{
    border-bottom: 5px solid white;
}